body {
  height: 100vh;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.center-card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
}

button {
  padding: 12px 20px;
  margin: 10px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
}

#noBtn {
  background: #ddd;
}
